* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    padding: 2px;
    height: 22px;
    width: 101px;
}

#nav {
    background-color: #ece5e5;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

#nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#nav li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.featured-container {
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 500px; 
    padding:20px;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.featured-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.featured-content {
    width: 96%;
    position: absolute;
    bottom: 6px;
    left: 2%;
    right: 0px;
    background: rgb(255 255 255 / 100%);
    color: #4a2525;
    padding: 20px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.featured-title {
    margin: 0;
    font-size: 36px; 
    font-weight: bold;
}

.featured-description {
    margin: 10px 0 0;
    font-size: 20px; 
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%;
    padding: 20px;
}


.card-link {
    display: block;
    text-decoration: none; 
}


.card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
}


.card-img {
    width: 100%;
    height: 250px;
    
}


.card-content {
    padding: 20px;
}


.card-title {
    margin: 0;
    font-size: 24px;
    color: #333;
}


.card-headline {
    margin: 10px 0 0;
    font-size: 18px;
    color: #666;
}

#bottom {
    background-color: rgb(122, 188, 190);
    text-align: center;
    padding: 10px;
    position: relative ;
    bottom: 0;
    width: 100%;
}
#content{
    position: relative;
    margin-left: 13rem;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    max-width: 800px;
}

.news-section {
    display: flex;
    padding: 20px;
    background-color: #f4f4f4; 
}

.news-item {
    margin-bottom: 20px; 
}

.news-link {
    display: block;
    text-decoration: none;
    color: #333; 
    padding: 15px;
    border-radius: 8px;
    background-color: #fff; 
    transition: background-color 0.3s ease;
}

.news-link:hover {
    background-color: #e0e0e0; 
}

.news-category {
    display: block;
    font-size: 14px; 
    color: #007bff; 
    margin-bottom: 5px;
}

.news-title {
    display: block;
    font-size: 18px; 
    line-height: 1.4;
}


